<!-- Blog Post -->

<!-- Hero Image -->
<img src="{{src}}" class="hero-image" alt="Cover Image">
<div class="blog-post">

<!-- Author Info -->
<div class="author-info">
    {{author}}
</div>

<!-- Post Date -->
<div class="post-date">
    {{date}}
</div>

<!-- Blog Content -->
<h2>{{title}}</h2>
<p>{{content}}</p>
</div>